<img src="{{ avorg.presentation.presenters[0].photo86 }}" alt="speaker">

<h1>{{ avorg.presentation.title }}</h1>

{% for presenter in avorg.presentation.presenters %}
	{% if not loop.first %}, {% endif %}<a href="#">{{ presenter.givenName }} {{ presenter.surname }} {{ presenter.suffix }}</a>
{% endfor %}