<div class="avorg-molecule-recordingMeta">
	<img class="avorg-molecule-recordingMeta__photo" src="{{ avorg.presentation.presenters[0].photo86 }}" alt="speaker">
	
	<div class="avorg-molecule-recordingMeta__text">
		<h1 class="avorg-molecule-recordingMeta__title">{{ avorg.presentation.title }}</h1>
		
		<ul class="avorg-molecule-recordingMeta__presenters">
			{% for presenter in avorg.presentation.presenters %}
				<li>
					<a href="#">{{ presenter.givenName }} {{ presenter.surname }} {{ presenter.suffix }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>