<div class="avorg-molecule-recordingMeta {{ classes }}" data-id="{{ presentation.id }}">
    {% set description %}
        <ul class="avorg-molecule-recordingMeta__presenters">
            {% for presenter in presentation.presenters %}
                <li>
                    <a href="#">{{ presenter.name.first }} {{ presenter.name.last }} {{ presenter.name.suffix }}</a>
                </li>
            {% endfor %}
        </ul>

        {% if additionalInfo %}
            <div class="avorg-molecule-recordingMeta__additionalInfo">
                {{ additionalInfo }}
            </div>
        {% endif %}
    {% endset %}

    {% include "molecule-mediaObject.twig" with {
        image: presentation.presenters[0].photo,
        imageAlt: "speaker",
        title: presentation.title,
        titleUrl: shouldLinkTitle ? presentation.url : null,
        description: description
    } only %}
</div>
