<div class="avorg-molecule-recordingMeta {{ classes }}" data-id="{{ recording.id }}">
    {% set description %}
        <ul class="avorg-molecule-recordingMeta__presenters">
            {% for presenter in recording.presenters %}
                <li>
                    <a href="#">{{ presenter.name.first }} {{ presenter.name.last }} {{ presenter.name.suffix }}</a>
                </li>
            {% endfor %}
        </ul>

        {% if additionalInfo %}
            <div class="avorg-molecule-recordingMeta__additionalInfo">
                {{ additionalInfo }}
            </div>
        {% endif %}
    {% endset %}

    {% include "molecule-mediaObject.twig" with {
        image: recording.presenters[0].photo,
        imageAlt: "presenter",
        title: recording.title,
        titleUrl: shouldLinkTitle ? recording.url : null,
        description: description,
        truncate: false
    } only %}
</div>
