<div class="avorg-molecule-recordingMeta {{ classes }}" data-id="{{ presentation.id }}">
    <img class="avorg-molecule-recordingMeta__photo" src="{{ presentation.presenters[0].photo }}" alt="speaker">

    <div class="avorg-molecule-recordingMeta__text">
        {% if shouldLinkTitle %}<a href="{{ presentation.url }}">{% endif %}
            <h1 class="avorg-molecule-recordingMeta__title">{{ presentation.title }}</h1>
            {% if shouldLinkTitle %}</a>{% endif %}

        <ul class="avorg-molecule-recordingMeta__presenters">
            {% for presenter in presentation.presenters %}
                <li>
                    <a href="#">{{ presenter.name.first }} {{ presenter.name.last }} {{ presenter.name.suffix }}</a>
                </li>
            {% endfor %}
        </ul>

        {% if additionalInfo %}
            <div class="avorg-molecule-recordingMeta__additionalInfo">
                {{ additionalInfo }}
            </div>
        {% endif %}
    </div>
</div>
