<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ avorg.title }}</title>
		<itunes:subtitle>{{ avorg.subtitle }}</itunes:subtitle>
		<itunes:explicit>clean</itunes:explicit>
		<link>https://www.audioverse.org</link>
		<atom:link href="{{ avorg.requestUri }}" rel="self" type="application/rss+xml" />
		{% if avorg.language %}<language>{{ avorg.language.langCode|replace({'_':'-'}) }}</language>{% endif %}
		<copyright>This feed Copyright 2019 AudioVerse.  Individual recordings are copyrighted by their respective owners.</copyright>
		<itunes:author>AudioVerse</itunes:author>
		<description>AudioVerse Presentation in English</description>
		<itunes:owner>
			<itunes:name>AudioVerse</itunes:name>
			<itunes:email>contact@audioverse.org</itunes:email>
		</itunes:owner>
		{% if avorg.image %}
			<image>{{ avorg.image }}</image>
			<itunes:image href="{{ avorg.image }}" />
		{% endif %}

		<itunes:category text="Religion &amp; Spirituality">
			<itunes:category text="Christianity" />
		</itunes:category>
		{% for recording in avorg.recordings %}
			{% set audio = recording.audioFiles|first %}
			<item>
				<title>{{ recording.title }}</title>
				{% if avorg.image %}<itunes:image href="{{ avorg.image }}" />{% endif %}
				<itunes:subtitle>MP3 Audio, {{ audio.bitrate }} kbps</itunes:subtitle>
				<itunes:author>{{ recording.presentersString }}</itunes:author>
				<enclosure url="{{ audio.streamUrl }}" type="{{ audio.type }}" length="{{ audio.size }}" />
				<guid isPermaLink="false">{{ recording.id }}-{{ audio.id }}</guid>
				<pubDate>{{ recording.datePublished|date("D, d M Y H:i:s O") }}</pubDate>
				<itunes:duration>{{ audio.durationString }}</itunes:duration>
			</item>
		{% endfor %}
	</channel>
</rss>